* {
  font-family: oswald-regular;
}
h1 {
  font-family: oswald-bold;
  text-transform: uppercase;
  border-bottom: 20px solid #1b1d1b;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.wrapper {
  padding: 1rem;
}
